In [1]:
import pandas as pd

# data description
- 총 상권 113개
- 2022-1 ~ 2023-2 6개 분기
- 업종분류 2 기준 12개 업종으로 분류
- non-null rows : 1621 / 8136
- 업종별로 점포 수가 0인 경우 많기 때문에 Nan값이 매우 많음 주의!!

In [2]:
df = pd.read_csv('../data/credit_class2.csv')
df

,trdar_nm,year,quarter,class_2_name,average(age),average(duration),average(is_franchise),average(business_square_size),average(is_risky),average(monthly_rental_fee),...,average(sum_customer_cnt),average(sum_new_customer_cnt),average(sum_purchase_card),average(sum_purchase_cash),average(sum_purchase_invoice),average(sum_sales_card),average(sum_sales_delivery),average(sum_sales_invoice),average(sum_weekend_sales_card),average(sum_weekend_sales_delivery)
0,DMC(디지털미디어시티),2022,1,개인 서비스업,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DMC(디지털미디어시티),2023,1,"예술, 스포츠 및 여가관련 서비스업",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DMC(디지털미디어시티),2023,1,교육서비스업,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DMC(디지털미디어시티),2023,1,건강/의료 서비스업,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DMC(디지털미디어시티),2023,1,개인 서비스업,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8131,화곡역,2022,2,카페,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8132,화곡역,2022,2,일식,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8133,화곡역,2022,2,술집,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8134,화곡역,2022,3,한식,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8135,화곡역,2023,2,전문유통,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   trdar_nm                             8136 non-null   object
 1   year                                 8136 non-null   int64
 2   quarter                              8136 non-null   int64
 3   class_2_name                         8136 non-null   object
 4   average(age)                         1621 non-null   float64
 5   average(duration)                    1621 non-null   float64
 6   average(is_franchise)                1621 non-null   float64
 7   average(business_square_size)        1621 non-null   float64
 8   average(is_risky)                    1621 non-null   float64
 9   average(monthly_rental_fee)          1621 non-null   float64
 10  average(regular_employees_count)     1621 non-null   float64
 11  average(rental_deposit)              1621 non-null   float64
 12  average(sum_customer_cnt)            1621 non-null   float64
 13  average(sum_new_customer_cnt)        1621 non-null   float64
 14  average(sum_purchase_card)           1621 non-null   float64
 15  average(sum_purchase_cash)           1621 non-null   float64
 16  average(sum_purchase_invoice)        1621 non-null   float64
 17  average(sum_sales_card)              1621 non-null   float64
 18  average(sum_sales_delivery)          1621 non-null   float64
 19  average(sum_sales_invoice)           1621 non-null   float64
 20  average(sum_weekend_sales_card)      1621 non-null   float64
 21  average(sum_weekend_sales_delivery)  1621 non-null   float64
dtypes: float64(18), int64(2), object(2)
memory usage: 1.4+ MB

In [3]:
df.isnull().sum()

trdar_nm                                  0
year                                      0
quarter                                   0
class_2_name                              0
average(age)                           6515
average(duration)                      6515
average(is_franchise)                  6515
average(business_square_size)          6515
average(is_risky)                      6515
average(monthly_rental_fee)            6515
average(regular_employees_count)       6515
average(rental_deposit)                6515
average(sum_customer_cnt)              6515
average(sum_new_customer_cnt)          6515
average(sum_purchase_card)             6515
average(sum_purchase_cash)             6515
average(sum_purchase_invoice)          6515
average(sum_sales_card)                6515
average(sum_sales_delivery)            6515
average(sum_sales_invoice)             6515
average(sum_weekend_sales_card)        6515
average(sum_weekend_sales_delivery)    6515
dtype: int64

In [11]:
df2 = df.dropna()
print(df2.shape)
df2['class_2_name'].nunique()

(1621, 22)

12

In [21]:
df.groupby('class_2_name').mean()

C:\Users\Samsung\AppData\Local\Temp\ipykernel_20700\2185056401.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('class_2_name').mean()

,year,quarter,average(age),average(duration),average(is_franchise),average(business_square_size),average(is_risky),average(monthly_rental_fee),average(regular_employees_count),average(rental_deposit),average(sum_customer_cnt),average(sum_new_customer_cnt),average(sum_purchase_card),average(sum_purchase_cash),average(sum_purchase_invoice),average(sum_sales_card),average(sum_sales_delivery),average(sum_sales_invoice),average(sum_weekend_sales_card),average(sum_weekend_sales_delivery)
class_2_name,,,,,,,,,,,,,,,,,,,,
개인 서비스업,2022.333333,2.166667,38.882128,5.411114,0.045182,98.969179,0.260601,2.309809,1.035990,3.830821,1.794594,0.967926,3.271975,0.623810,7.582184,12.614267,1.315419e-09,3.498285e+00,4.167665,1.206608e-09
건강/의료 서비스업,2022.333333,2.166667,44.011419,6.167897,0.000000,344.660751,0.236217,9.663374,11.726780,16.306489,9.228410,4.343958,41.186790,1.033720,70.802689,128.958999,1.293939e-09,2.841965e+00,21.976190,9.833333e-10
교육서비스업,2022.333333,2.166667,42.147471,5.169546,0.131466,143.427140,0.165245,2.428735,0.954016,3.036587,0.982902,0.329900,4.213875,0.209599,4.678632,19.316807,1.913333e-09,2.956667e-09,4.218985,1.873333e-09
베이커리/디저트,2022.333333,2.166667,32.008809,3.100000,0.000000,88.153010,0.277339,2.392285,1.562973,2.764728,7.909811,6.148654,3.528115,0.299554,6.876115,10.122191,8.686088e-01,1.018447e+00,4.051545,3.219747e-01
술집,2022.333333,2.166667,40.789692,5.050614,0.056985,101.330739,0.136620,2.733296,0.906585,5.250482,4.457025,3.529022,3.594222,0.753645,12.363106,25.314940,7.889301e-01,8.194277e-01,8.728534,2.810191e-01
양식,2022.333333,2.166667,39.577602,4.285710,0.034997,74.635243,0.166370,2.668842,1.869100,3.715525,6.783919,4.954884,4.307988,0.620166,12.860562,26.281028,1.318688e+00,7.874275e-01,9.987316,3.035072e-01
"예술, 스포츠 및 여가관련 서비스업",2022.333333,2.166667,41.095716,4.626254,0.000000,219.521808,0.261136,4.566639,1.025849,5.753519,3.314179,2.328976,2.646947,0.541400,10.305152,18.390161,1.420833e-09,2.048345e+00,3.972301,1.241667e-09
일식,2022.333333,2.166667,40.261946,4.387821,0.046286,78.604548,0.113281,2.952711,1.970816,4.015145,7.848590,5.894811,4.463744,0.849447,18.994702,36.087783,2.634427e+00,2.757229e-01,9.961806,8.700539e-01
전문유통,2022.333333,2.166667,42.285090,6.852067,0.023073,69.684674,0.304947,2.211610,1.158911,3.558511,4.293624,2.837733,4.003535,0.432647,30.404974,18.513395,2.077796e-02,1.960718e+01,5.984412,7.323525e-03
카페,2022.333333,2.166667,37.805499,4.291523,0.091785,68.505708,0.212922,2.977861,0.943530,3.814727,16.443386,7.658053,3.192933,0.659059,7.366746,13.957457,1.470944e+00,2.901249e-01,3.659279,4.938667e-01
패스트푸드,2022.333333,2.166667,39.984419,4.521784,0.286759,57.082703,0.113617,1.755315,0.760547,3.539369,6.295739,4.109637,3.915745,0.243109,10.644812,14.941964,4.340448e+00,2.383333e-09,5.132007,1.386860e+00
한식,2022.333333,2.166667,43.425970,5.012783,0.144914,101.044357,0.118218,3.039861,1.490050,4.706387,7.959011,5.014294,4.238837,0.602197,19.816510,33.541384,4.496231e+00,6.814176e-01,8.192506,1.442509e+00