In [11]:
import pandas as pd

In [26]:
class1 = pd.read_excel('../data/CREDIT_CLASS_1.xlsx')
class1 = class1[class1['year'] == 2022]

In [15]:
class1.columns

Index(['trdar_nm', 'year', 'quarter', 'class_1_name', 'average(age)',
       'average(duration)', 'average(is_franchise)',
       'average(business_square_size)', 'average(is_risky)',
       'average(monthly_rental_fee)', 'average(regular_employees_count)',
       'average(rental_deposit)', 'average(sum_customer_cnt)',
       'average(sum_new_customer_cnt)', 'average(sum_purchase_card)',
       'average(sum_purchase_cash)', 'average(sum_purchase_invoice)',
       'average(sum_sales_card)', 'average(sum_sales_delivery)',
       'average(sum_sales_invoice)', 'average(sum_weekend_sales_card)',
       'average(sum_weekend_sales_delivery)'],
      dtype='object')

In [27]:
class1_isrisky = class1[['trdar_nm', 'year', 'quarter', 'class_1_name', 'average(is_risky)']]
class1_isrisky.columns = ['상권_코드_명', '기준_년_코드', '기준_분기_코드', '업종_대분류', '경영_위기_비율']

In [28]:
seoul = pd.read_csv('../data/SEOUL.csv')
seoul.drop('경영_위기_비율', axis=1, inplace=True)
seoul

,상권_코드_명,상권_코드,기준_년_코드,기준_분기_코드,유사_업종_점포_수,개업_율,폐업_율,주중_매출_비율,주말_매출_비율,남성_매출_비율,여성_매출_비율,연령대_1020_매출_비율,연령대_3040_매출_비율,연령대_5060_매출_비율,집객시설_수,교통_인프라,총 상주인구 수,총_직장_인구_수,총_생활인구_수,월_평균_소득_금액
0,DMC(디지털미디어시티),2120098,2022,1,766,0.031353,0.016502,0.882753,0.117247,0.532487,0.467513,0.166844,0.583242,0.249914,72,24,1285,8846.0,318202,3567709.0
1,DMC(디지털미디어시티),2120098,2022,2,768,0.042763,0.032895,0.874108,0.125892,0.529133,0.470867,0.175676,0.593012,0.231312,72,24,1285,8846.0,358782,3567709.0
2,DMC(디지털미디어시티),2120098,2022,3,774,0.035714,0.027597,0.881428,0.118572,0.526975,0.473025,0.184997,0.587134,0.227869,72,24,1285,8846.0,352688,3567709.0
3,DMC(디지털미디어시티),2120098,2022,4,778,0.041935,0.037097,0.868980,0.131020,0.527500,0.472500,0.183274,0.584706,0.232020,72,24,1285,8846.0,355095,3567709.0
4,가락시장역,2120234,2022,1,1203,0.016393,0.022769,0.794609,0.205391,0.546158,0.453842,0.100028,0.389655,0.510317,62,3,2694,10268.0,1430185,3494644.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,홍대입구역(홍대),2120103,2022,4,2979,0.033623,0.030369,0.617551,0.382449,0.431874,0.568126,0.501809,0.371155,0.127036,91,22,4789,9580.0,3897068,2934520.0
448,화곡역,2120120,2022,1,636,0.024074,0.016667,0.761005,0.238995,0.485096,0.514904,0.197469,0.451777,0.350755,88,16,2748,927.0,1102013,2624496.0
449,화곡역,2120120,2022,2,634,0.036969,0.038817,0.744602,0.255398,0.489530,0.510470,0.208147,0.463911,0.327942,88,16,2748,927.0,1168431,2624496.0
450,화곡역,2120120,2022,3,627,0.016822,0.029907,0.765109,0.234891,0.494202,0.505798,0.200589,0.445831,0.353580,88,16,2748,927.0,1163547,2624496.0
451,화곡역,2120120,2022,4,631,0.024164,0.020446,0.741782,0.258218,0.504047,0.495953,0.191336,0.450515,0.358150,88,16,2748,927.0,1208993,2624496.0

In [29]:
SEOUL_CLASS_1 = pd.merge(class1_isrisky, seoul, on=['상권_코드_명', '기준_년_코드', '기준_분기_코드'], how='left')

In [30]:
SEOUL_CLASS_1

,상권_코드_명,기준_년_코드,기준_분기_코드,업종_대분류,경영_위기_비율,상권_코드,유사_업종_점포_수,개업_율,폐업_율,주중_매출_비율,...,여성_매출_비율,연령대_1020_매출_비율,연령대_3040_매출_비율,연령대_5060_매출_비율,집객시설_수,교통_인프라,총 상주인구 수,총_직장_인구_수,총_생활인구_수,월_평균_소득_금액
0,DMC(디지털미디어시티),2022,1,외식업,0.150943,2120098,766,0.031353,0.016502,0.882753,...,0.467513,0.166844,0.583242,0.249914,72,24,1285,8846.0,318202,3567709.0
1,DMC(디지털미디어시티),2022,2,외식업,0.207547,2120098,768,0.042763,0.032895,0.874108,...,0.470867,0.175676,0.593012,0.231312,72,24,1285,8846.0,358782,3567709.0
2,DMC(디지털미디어시티),2022,3,외식업,0.142857,2120098,774,0.035714,0.027597,0.881428,...,0.473025,0.184997,0.587134,0.227869,72,24,1285,8846.0,352688,3567709.0
3,DMC(디지털미디어시티),2022,4,외식업,0.291667,2120098,778,0.041935,0.037097,0.868980,...,0.472500,0.183274,0.584706,0.232020,72,24,1285,8846.0,355095,3567709.0
4,가락시장역,2022,1,외식업,0.235294,2120234,1203,0.016393,0.022769,0.794609,...,0.453842,0.100028,0.389655,0.510317,62,3,2694,10268.0,1430185,3494644.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,홍대입구역(홍대),2022,4,유통업,0.387755,2120103,2979,0.033623,0.030369,0.617551,...,0.568126,0.501809,0.371155,0.127036,91,22,4789,9580.0,3897068,2934520.0
668,화곡역,2022,1,서비스업,0.166667,2120120,636,0.024074,0.016667,0.761005,...,0.514904,0.197469,0.451777,0.350755,88,16,2748,927.0,1102013,2624496.0
669,화곡역,2022,2,서비스업,0.473684,2120120,634,0.036969,0.038817,0.744602,...,0.510470,0.208147,0.463911,0.327942,88,16,2748,927.0,1168431,2624496.0
670,화곡역,2022,3,서비스업,0.380952,2120120,627,0.016822,0.029907,0.765109,...,0.505798,0.200589,0.445831,0.353580,88,16,2748,927.0,1163547,2624496.0
671,화곡역,2022,4,서비스업,0.380952,2120120,631,0.024164,0.020446,0.741782,...,0.495953,0.191336,0.450515,0.358150,88,16,2748,927.0,1208993,2624496.0

In [31]:
SEOUL_CLASS_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   상권_코드_명         672 non-null    object
 1   기준_년_코드         672 non-null    int64
 2   기준_분기_코드        672 non-null    int64
 3   업종_대분류          672 non-null    object
 4   경영_위기_비율        672 non-null    float64
 5   상권_코드           672 non-null    int64
 6   유사_업종_점포_수      672 non-null    int64
 7   개업_율            672 non-null    float64
 8   폐업_율            672 non-null    float64
 9   주중_매출_비율        672 non-null    float64
 10  주말_매출_비율        672 non-null    float64
 11  남성_매출_비율        672 non-null    float64
 12  여성_매출_비율        672 non-null    float64
 13  연령대_1020_매출_비율  672 non-null    float64
 14  연령대_3040_매출_비율  672 non-null    float64
 15  연령대_5060_매출_비율  672 non-null    float64
 16  집객시설_수          672 non-null    int64
 17  교통_인프라          672 non-null    int64
 18  총 상주인구 수        672 non-null    int64
 19  총_직장_인구_수       672 non-null    float64
 20  총_생활인구_수        672 non-null    int64
 21  월_평균_소득_금액      672 non-null    float64
dtypes: float64(12), int64(8), object(2)
memory usage: 115.6+ KB