# 불러오기, 살펴보기
- 데이터 불러오기
- 라이브러리 불러오기
- 컬럼들 확인
- 결측치 확인

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/SURVEY_2021.csv',encoding='cp949')
df

,조사차수,일반_대표자_성별코드,대표자연령대코드,일반_합계종사자수,일반_합계_남자종사자수,일반_합계_여자종사자수,일반_대표자종사자수,일반_대표자_남자종사자수,일반_대표자_여자종사자수,일반_근로계약기간_1년이상_종사자수,...,사업전환_노후준비1해당여부,사업전환_노후준비2해당여부,사업전환_노후준비3해당여부,사업전환_노후준비4해당여부,사업전환_노후준비5해당여부,사업체수가중값,종사자수가중값,매출금액가중값,행정구역시도코드,기준연도
0,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,26.360465,23.430657,18.490134,11,2021
1,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,1.0,4.0,NaN,NaN,NaN,26.360465,23.430657,18.490134,11,2021
2,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,1.0,2.0,4.0,NaN,NaN,66.276596,62.407407,66.654687,11,2021
3,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,1.0,2.0,3.0,NaN,NaN,36.705882,35.842105,30.050064,11,2021
4,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,51.722222,47.756098,80.206242,11,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5715,5,2,70,5,2.0,3.0,1,NaN,1.0,4.0,...,6.0,NaN,NaN,NaN,NaN,8.153409,6.849415,6.916336,11,2021
5716,5,2,70,7,2.0,5.0,1,NaN,1.0,2.0,...,2.0,NaN,NaN,NaN,NaN,2.692308,2.137380,2.001562,11,2021
5717,5,2,70,7,6.0,1.0,4,3.0,1.0,3.0,...,1.0,2.0,4.0,NaN,NaN,8.153409,6.849415,6.916336,11,2021
5718,5,2,70,8,6.0,2.0,1,NaN,1.0,7.0,...,1.0,2.0,NaN,NaN,NaN,13.843137,11.252955,11.705223,11,2021
5719,5,2,80,2,NaN,2.0,1,NaN,1.0,NaN,...,4.0,NaN,NaN,NaN,NaN,73.362963,64.000000,65.029746,11,2021

In [3]:
pd.set_option('display.max_seq_items', None)
pd.set_option('display.width', 10)

In [4]:
columns_df = df.columns.to_list()
columns_df

['조사차수',
 '일반_대표자_성별코드',
 '대표자연령대코드',
 '일반_합계종사자수',
 '일반_합계_남자종사자수',
 '일반_합계_여자종사자수',
 '일반_대표자종사자수',
 '일반_대표자_남자종사자수',
 '일반_대표자_여자종사자수',
 '일반_근로계약기간_1년이상_종사자수',
 '일반_근로계약기간_1년이상_남자종사자수',
 '일반_근로계약기간_1년이상_여자종사자수',
 '일반_근로계약기간_3개월이상1년미만_종사자수',
 '일반_근로계약기간_3개월이상1년미만_남자종사자수',
 '일반_근로계약기간_3개월이상1년미만_여자종사자수',
 '일반_근로계약기간_3개월미만_종사자수',
 '일반_근로계약기간_3개월미만_남자종사자수',
 '일반_근로계약기간_3개월미만_여자종사자수',
 '일반_무급가족종사자수',
 '일반_무급가족_남자종사자수',
 '일반_무급가족_여자종사자수',
 '일반_기타근로자종사자수',
 '일반_기타근로자_남자종사자수',
 '일반_기타근로자_여자종사자수',
 '일반_사업자형태코드',
 '산업중분류코드',
 '일반_프랜차이즈가맹점여부',
 '일반_창업형태코드',
 '일반_창업인수승계_연도',
 '일반_창업인수승계_월',
 '일반_사업장이전_경험여부',
 '일반_사업장이전_사유코드',
 '일반_현사업체_직전종사상지위항목코드',
 '일반_창업횟수',
 '창업_동기코드',
 '창업_준비기간_창업_준비기간_년수',
 '창업_준비기간_창업_준비기간_월수',
 '창업_준비활동중요성_사업계획서작성코드',
 '창업_준비활동중요성_시장조사코드',
 '창업_준비활동중요성_동종업종종사경험코드',
 '창업_준비활동중요성_창업교육코드',
 '창업_준비활동_사업계획서작성여부',
 '창업_준비활동_시장조사여부',
 '창업_준비활동_동종업종종사경험여부',
 '창업_준비활동_창업교육여부',
 '창업_어려움정도_입지선정코드',
 '창업_어려움정도_업종선택코드',
 '창업_어려움정도_자금조달코드',
 '창업_어려움정도_기술확보코드',
 '창업_어려움정도_인력확보코드',
 '창업_어려움정도_행정절차코드',
 '창업_어려움정도_경영방법코드',
 '창업_비용_총창업비용',
 '창업_비용_본인부담금액',
 '경영_영업기간_하루평균시간수',
 '경영_영업기간_월평균일수',
 '경영_영업기간_년간월수',
 '경영_고객결재방법_현금비율',
 '경영_고객결재방법_카드비율',
 '경영_고객결재방법_간편결제비율',
 '경영_고객결재방법_어음비율',
 '경영_고객결재방법_기타비율',
 '경영_고객결재방법_합계비율',
 '경영_점유형태코드',
 '경영_점유형태_임차형태코드',
 '경영_점유형태_보증금액',
 '경영_점유형태_월세금액',
 '경영_점유형태_일정비율지급금액',
 '경영_운영활동코드1',
 '경영_운영활동코드2',
 '경영_운영활동코드3',
 '경영_운영활동코드4',
 '경영_운영활동코드5',
 '경영_운영활동_디지털대응1코드',
 '경영_운영활동_디지털대응2코드',
 '경영_운영활동_디지털대응3코드',
 '경영_운영활동_디지털대응4코드',
 '경영_운영활동_디지털대응5코드',
 '경영_운영활동_디지털대응6코드',
 '경영_단체활동여부',
 '경영_매출금액',
 '경영_영업비용',
 '경영_영업비용_매출원가',
 '경영_영업비용_급여총액',
 '경영_영업비용_임차료',
 '경영_영업비용_기타금액',
 '경영_영업이익',
 '경영_전자상거래_매출실적여부',
 '경영_전자상거래_매출비율',
 '경영_부채여부',
 '경영_부채금액',
 '경영_애로사항1코드',
 '경영_애로사항2코드',
 '정부지원정책_지원경험코드',
 '정부지원정책_추진정책1코드',
 '정부지원정책_추진정책2코드',
 '코로나19_지원정책1코드',
 '코로나19_지원정책2코드',
 '사업전환_운영계획코드',
 '사업전환_운영계획_소유권승계계획여부',
 '사업전환_노후준비1해당여부',
 '사업전환_노후준비2해당여부',
 '사업전환_노후준비3해당여부',
 '사업전환_노후준비4해당여부',
 '사업전환_노후준비5해당여부',
 '사업체수가중값',
 '종사자수가중값',
 '매출금액가중값',
 '행정구역시도코드',
 '기준연도']

In [5]:
len(columns_df)

110

In [6]:
df.dtypes

조사차수              int64
일반_대표자_성별코드       int64
대표자연령대코드          int64
일반_합계종사자수         int64
일반_합계_남자종사자수    float64
                 ...
사업체수가중값         float64
종사자수가중값         float64
매출금액가중값         float64
행정구역시도코드          int64
기준연도              int64
Length: 110, dtype: object

In [7]:
df.describe()

,조사차수,일반_대표자_성별코드,대표자연령대코드,일반_합계종사자수,일반_합계_남자종사자수,일반_합계_여자종사자수,일반_대표자종사자수,일반_대표자_남자종사자수,일반_대표자_여자종사자수,일반_근로계약기간_1년이상_종사자수,...,사업전환_노후준비1해당여부,사업전환_노후준비2해당여부,사업전환_노후준비3해당여부,사업전환_노후준비4해당여부,사업전환_노후준비5해당여부,사업체수가중값,종사자수가중값,매출금액가중값,행정구역시도코드,기준연도
count,5720.0,5720.000000,5720.000000,5720.000000,4895.000000,3373.000000,5720.000000,4132.000000,1677.000000,2784.000000,...,5712.000000,2071.000000,482.000000,136.000000,5.00000,5720.000000,5720.000000,5720.000000,5720.0,5720.0
mean,5.0,1.284441,47.256993,2.787413,2.044331,1.760154,1.018007,1.007018,0.991055,2.290230,...,2.494573,3.217769,3.427386,3.698529,4.60000,137.403497,112.598018,116.521248,11.0,2021.0
std,0.0,0.451187,11.517658,2.535066,1.864942,1.879603,0.150272,0.136346,0.131237,1.696257,...,2.081757,0.942498,0.754692,0.691963,1.67332,240.247426,196.185555,219.090739,0.0,0.0
min,5.0,1.000000,20.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,2.00000,2.213115,1.853659,1.529165,11.0,2021.0
25%,5.0,1.000000,40.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,2.000000,3.000000,4.000000,4.00000,18.411765,13.260726,14.209152,11.0,2021.0
50%,5.0,1.000000,50.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,...,1.000000,4.000000,4.000000,4.000000,5.00000,43.187500,38.395722,35.924167,11.0,2021.0
75%,5.0,2.000000,60.000000,4.000000,2.000000,2.000000,1.000000,1.000000,1.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,6.00000,132.081081,120.196000,123.270970,11.0,2021.0
max,5.0,2.000000,80.000000,54.000000,51.000000,54.000000,4.000000,3.000000,2.000000,9.000000,...,6.000000,6.000000,5.000000,4.000000,6.00000,1403.395833,1010.536585,1629.625835,11.0,2021.0

In [8]:
df.행정구역시도코드.unique() # 서울시 데이터만 포함되어 있음!

array([11], dtype=int64)

In [9]:
pd.set_option('display.max_rows',None)
df.isnull().sum()

조사차수                             0
일반_대표자_성별코드                      0
대표자연령대코드                         0
일반_합계종사자수                        0
일반_합계_남자종사자수                   825
일반_합계_여자종사자수                  2347
일반_대표자종사자수                       0
일반_대표자_남자종사자수                 1588
일반_대표자_여자종사자수                 4043
일반_근로계약기간_1년이상_종사자수           2936
일반_근로계약기간_1년이상_남자종사자수         3653
일반_근로계약기간_1년이상_여자종사자수         4075
일반_근로계약기간_3개월이상1년미만_종사자수      5087
일반_근로계약기간_3개월이상1년미만_남자종사자수    5321
일반_근로계약기간_3개월이상1년미만_여자종사자수    5382
일반_근로계약기간_3개월미만_종사자수          5224
일반_근로계약기간_3개월미만_남자종사자수        5386
일반_근로계약기간_3개월미만_여자종사자수        5449
일반_무급가족종사자수                   5089
일반_무급가족_남자종사자수                5410
일반_무급가족_여자종사자수                5364
일반_기타근로자종사자수                  5439
일반_기타근로자_남자종사자수               5524
일반_기타근로자_여자종사자수               5562
일반_사업자형태코드                       0
산업중분류코드                          0
일반_프랜차이즈가맹점여부                    0
일반_창업형태코드                        0
일반_창업인수승계_연도                     0
일반_창업인수승계_월                      0
일반_사업장이전_경험여부                    0
일반_사업장이전_사유코드                 4296
일반_현사업체_직전종사상지위항목코드              0
일반_창업횟수                          0
창업_동기코드                       3514
창업_준비기간_창업_준비기간_년수            3514
창업_준비기간_창업_준비기간_월수            3514
창업_준비활동중요성_사업계획서작성코드          3514
창업_준비활동중요성_시장조사코드             3514
창업_준비활동중요성_동종업종종사경험코드         3514
창업_준비활동중요성_창업교육코드             3514
창업_준비활동_사업계획서작성여부             3514
창업_준비활동_시장조사여부                3514
창업_준비활동_동종업종종사경험여부            3514
창업_준비활동_창업교육여부                3514
창업_어려움정도_입지선정코드               3514
창업_어려움정도_업종선택코드               3514
창업_어려움정도_자금조달코드               3514
창업_어려움정도_기술확보코드               3514
창업_어려움정도_인력확보코드               3514
창업_어려움정도_행정절차코드               3514
창업_어려움정도_경영방법코드               3514
창업_비용_총창업비용                   3514
창업_비용_본인부담금액                  3514
경영_영업기간_하루평균시간수                  0
경영_영업기간_월평균일수                    0
경영_영업기간_년간월수                     0
경영_고객결재방법_현금비율                 785
경영_고객결재방법_카드비율                3146
경영_고객결재방법_간편결제비율              5380
경영_고객결재방법_어음비율                5498
경영_고객결재방법_기타비율                5331
경영_고객결재방법_합계비율                   0
경영_점유형태코드                        0
경영_점유형태_임차형태코드                1001
경영_점유형태_보증금액                  1521
경영_점유형태_월세금액                  1402
경영_점유형태_일정비율지급금액              5700
경영_운영활동코드1                       8
경영_운영활동코드2                    4942
경영_운영활동코드3                    5494
경영_운영활동코드4                    5652
경영_운영활동코드5                    5719
경영_운영활동_디지털대응1코드              5360
경영_운영활동_디지털대응2코드              5619
경영_운영활동_디지털대응3코드              5688
경영_운영활동_디지털대응4코드              5711
경영_운영활동_디지털대응5코드              5714
경영_운영활동_디지털대응6코드              5719
경영_단체활동여부                        0
경영_매출금액                          0
경영_영업비용                          0
경영_영업비용_매출원가                    43
경영_영업비용_급여총액                    86
경영_영업비용_임차료                     14
경영_영업비용_기타금액                     8
경영_영업이익                          0
경영_전자상거래_매출실적여부                  0
경영_전자상거래_매출비율                 5012
경영_부채여부                          0
경영_부채금액                       1709
경영_애로사항1코드                       4
경영_애로사항2코드                    1427
정부지원정책_지원경험코드                    0
정부지원정책_추진정책1코드                   3
정부지원정책_추진정책2코드                1225
코로나19_지원정책1코드                    2
코로나19_지원정책2코드                 1366
사업전환_운영계획코드                      0
사업전환_운영계획_소유권승계계획여부            506
사업전환_노후준비1해당여부                   8
사업전환_노후준비2해당여부                3649
사업전환_노후준비3해당여부                5238
사업전환_노후준비4해당여부                5584
사업전환_노후준비5해당여부                5715
사업체수가중값                          0
종사자수가중값                          0
매출금액가중값                          0
행정구역시도코드                         0
기준연도                             0
dtype: int64

In [10]:
pd.set_option('display.max_rows',32)
rows_with_null = df[df.isnull().any(axis=1)]
rows_with_null

,조사차수,일반_대표자_성별코드,대표자연령대코드,일반_합계종사자수,일반_합계_남자종사자수,일반_합계_여자종사자수,일반_대표자종사자수,일반_대표자_남자종사자수,일반_대표자_여자종사자수,일반_근로계약기간_1년이상_종사자수,...,사업전환_노후준비1해당여부,사업전환_노후준비2해당여부,사업전환_노후준비3해당여부,사업전환_노후준비4해당여부,사업전환_노후준비5해당여부,사업체수가중값,종사자수가중값,매출금액가중값,행정구역시도코드,기준연도
0,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,26.360465,23.430657,18.490134,11,2021
1,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,1.0,4.0,NaN,NaN,NaN,26.360465,23.430657,18.490134,11,2021
2,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,1.0,2.0,4.0,NaN,NaN,66.276596,62.407407,66.654687,11,2021
3,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,1.0,2.0,3.0,NaN,NaN,36.705882,35.842105,30.050064,11,2021
4,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,51.722222,47.756098,80.206242,11,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5715,5,2,70,5,2.0,3.0,1,NaN,1.0,4.0,...,6.0,NaN,NaN,NaN,NaN,8.153409,6.849415,6.916336,11,2021
5716,5,2,70,7,2.0,5.0,1,NaN,1.0,2.0,...,2.0,NaN,NaN,NaN,NaN,2.692308,2.137380,2.001562,11,2021
5717,5,2,70,7,6.0,1.0,4,3.0,1.0,3.0,...,1.0,2.0,4.0,NaN,NaN,8.153409,6.849415,6.916336,11,2021
5718,5,2,70,8,6.0,2.0,1,NaN,1.0,7.0,...,1.0,2.0,NaN,NaN,NaN,13.843137,11.252955,11.705223,11,2021
5719,5,2,80,2,NaN,2.0,1,NaN,1.0,NaN,...,4.0,NaN,NaN,NaN,NaN,73.362963,64.000000,65.029746,11,2021

In [11]:
df_notnull = df.dropna(axis=1)
df_notnull

,조사차수,일반_대표자_성별코드,대표자연령대코드,일반_합계종사자수,일반_대표자종사자수,일반_사업자형태코드,산업중분류코드,일반_프랜차이즈가맹점여부,일반_창업형태코드,일반_창업인수승계_연도,...,경영_영업이익,경영_전자상거래_매출실적여부,경영_부채여부,정부지원정책_지원경험코드,사업전환_운영계획코드,사업체수가중값,종사자수가중값,매출금액가중값,행정구역시도코드,기준연도
0,5,1,20,1,1,1,10,2,1,2020,...,2,2,2,1,1,26.360465,23.430657,18.490134,11,2021
1,5,1,20,1,1,1,10,2,3,2017,...,11,2,2,1,1,26.360465,23.430657,18.490134,11,2021
2,5,1,20,1,1,1,25,2,1,2017,...,35,2,1,1,1,66.276596,62.407407,66.654687,11,2021
3,5,1,20,1,1,1,28,2,1,2019,...,24,2,2,1,1,36.705882,35.842105,30.050064,11,2021
4,5,1,20,1,1,1,29,2,1,2019,...,8,2,2,1,1,51.722222,47.756098,80.206242,11,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5715,5,2,70,5,1,1,10,2,1,1992,...,60,2,1,1,1,8.153409,6.849415,6.916336,11,2021
5716,5,2,70,7,1,1,23,2,1,1972,...,-94,2,1,3,1,2.692308,2.137380,2.001562,11,2021
5717,5,2,70,7,4,1,10,2,2,2019,...,-35,2,1,3,1,8.153409,6.849415,6.916336,11,2021
5718,5,2,70,8,1,2,28,2,3,2014,...,175,1,1,2,1,13.843137,11.252955,11.705223,11,2021
5719,5,2,80,2,1,1,75,2,1,2006,...,2,2,2,2,1,73.362963,64.000000,65.029746,11,2021

In [12]:
#Nan값 없는 컬럼들
df_notnull.columns

Index(['조사차수',
       '일반_대표자_성별코드',
       '대표자연령대코드',
       '일반_합계종사자수',
       '일반_대표자종사자수',
       '일반_사업자형태코드',
       '산업중분류코드',
       '일반_프랜차이즈가맹점여부',
       '일반_창업형태코드',
       '일반_창업인수승계_연도',
       '일반_창업인수승계_월',
       '일반_사업장이전_경험여부',
       '일반_현사업체_직전종사상지위항목코드',
       '일반_창업횟수',
       '경영_영업기간_하루평균시간수',
       '경영_영업기간_월평균일수',
       '경영_영업기간_년간월수',
       '경영_고객결재방법_합계비율',
       '경영_점유형태코드',
       '경영_단체활동여부',
       '경영_매출금액',
       '경영_영업비용',
       '경영_영업이익',
       '경영_전자상거래_매출실적여부',
       '경영_부채여부',
       '정부지원정책_지원경험코드',
       '사업전환_운영계획코드',
       '사업체수가중값',
       '종사자수가중값',
       '매출금액가중값',
       '행정구역시도코드',
       '기준연도'],
      dtype='object')

In [13]:
len(df_notnull.columns)

32

In [14]:
for col in df_notnull.columns:
    print(col)
    print(df_notnull[col].unique())
    print(df_notnull[col].nunique())
    print('-----------------------')

조사차수
[5]
1
-----------------------
일반_대표자_성별코드
[1 2]
2
-----------------------
대표자연령대코드
[20 30 40 50 60 70 80]
7
-----------------------
일반_합계종사자수
[ 1 10  2  3  4  5  6  9 11 12 13 16 24  7  8 15 18 28 17 21 53 19 20 31
 25 14 54 52]
28
-----------------------
일반_대표자종사자수
[1 2 3 4]
4
-----------------------
일반_사업자형태코드
[1 2]
2
-----------------------
산업중분류코드
[10 25 28 29 47 56 62 63 68 71 73 74 75 85 45 58 33 90 13 14 20 16 22 34
 15 30 91 42 23 18 27 32 41 46 55 72 76 95 26 24 96 17]
42
-----------------------
일반_프랜차이즈가맹점여부
[2 1]
2
-----------------------
일반_창업형태코드
[1 3 2]
3
-----------------------
일반_창업인수승계_연도
[2020 2017 2019 2018 2021 2016 2014 2010 2015 2012 2013 2008 2011 2009
 2007 2005 2000 2006 2004 2001 2003 1997 2002 1999 1993 1996 1998 1995
 1988 1990 1989 1992 1994 1991 1985 1982 1980 1983 1987 1986 1984 1978
 1981 1972 1975 1979 1974 1970 1977 1968 1966 1960 1961 1976]
54
-----------------------
일반_창업인수승계_월
[ 3  1  7  8  4  5  6  2 11 10  9 12]
12
-----------------------
일반_사업장이전_경험여부
[2 1]
2
-----------------------
일반_현사업체_직전종사상지위항목코드
[3 4 1 2]
4
-----------------------
일반_창업횟수
[1 5 2 3 4 6]
6
-----------------------
경영_영업기간_하루평균시간수
[ 6  8 12 10  7  9  5 24 13 14 11 16 18  4 17 15  1  2 20  3 19]
21
-----------------------
경영_영업기간_월평균일수
[20 24 22 28 30 25 18 10 23 26 16 21 29 17 15 27  5  7  8  4  2  3 19 12]
24
-----------------------
경영_영업기간_년간월수
[12  9 10 11  7  5  6  8  4  3  1  2]
12
-----------------------
경영_고객결재방법_합계비율
[100]
1
-----------------------
경영_점유형태코드
[2 1]
2
-----------------------
경영_단체활동여부
[2 1]
2
-----------------------
경영_매출금액
[  20   36  108 ...  568  727 1564]
1118
-----------------------
경영_영업비용
[  18   25   73 ... 1445  668 1389]
1178
-----------------------
경영_영업이익
[    2    11    35    24     8     4    13    10     6    17    29    19
    25    12    56     0    15    -8    79  1368  -223    20   -24   -53
    36    30    14    18   -43    60   -14    26    62    61    38   -19
    78   -33    32   -37   -30    21    82   -96    34    67   -44    66
   140   131   228    49   -20     7   160  1500    70    40     3     9
    22    -6    -5   142   -10   -22   101    28    -1    45     1    23
    31    72    27    74    44    47   -36     5    58    16    50   100
  1046    -7    39   -16    -2    55   -25   -17   -11   -18    51   -38
    -3  -110   -70   200    -4   -79  -129   -28   -15   136   211   -54
    52  -118   -51    95  -141   489   340    83   130   270  -331  5568
   -74    92    48   -21   139    42   120  -229   -80   -12   -66   -69
   -27    93   290   110    63  -116   117   108    80    85   -76    65
   -35   242   -67   -86    90    68   205    88  -401   300   150    46
   -49    54   125   360   141    57    97    87  -410   220  -278   123
    59   755   400   -75  -147   176   -88    33    84   423   500   438
    -9   273   105  -160   107   165  3017    77    53   129   126   243
    41   -29    64    43    37  -100   112   -71   -13  -540   -41   -40
  -107   135   -34   -42    99   175  -101    89  -120   185   198  -213
   161  1689   287   -45   -93    96   288   296   570   -90   124   168
   102    76  -131    81   447  -127   -48   -92   -78   -50   171   128
   -47   147   238  -135   396   -23   170   -58  2034  -493   610   304
    73    75   122   190   468   600   132    98   159   111   323    91
  -133   293  -243  1894  -316  -300    86   103   184   -57   167   240
   -26   104   550   245   218  -170   244   913   162   504  -180   247
   121   -95    69   271  -145   280   -39   -32  -184   210   439   622
   274   146   109  -356   510  -526   -60   119   -65   149   187   115
   299   445  2152   137  -142   291   195   197   316  -260  -605   814
   -97   513   114   143   472    94  1273   382  -379  -550   174  -434
   138    71   -52   249   -72   376   276   215   233   286   181   275
   166   441   461   266   199   562   169   118   384   518  -125   234
   809   246   145   127   302   -87   377  -246   289   151  -187   144
   116   155   -31   235  -441 -3116  -128  -122   469  -130   389   265
   134  -209  -384   154   375   258   -46  -119   -89   476  -368   277
   224  -191   164   193   283   343   180   509  -620   284   -64  -198
  -105   508   226   493  -532   192   133   191   221   -62 -2440   255
   237   230   186  -358   256   368  1245  -350   216  -330   227   604
   631   716  -705   157  -134   -59  -136  -860   -68  -157   333   182
   420   373   -81   183   232   -82   163  -313   -55   106  -360   250
  -143   -61   589  -202  -377   440   -98  -790   637   411   196  1045
   435   217  -326  1583   -94  -106  -189   357   203   789  2697  -161
   254   259   660  -179  -108  -542   -63  -140   336  1716  -516   526
   153   202  -115  -117   310   188   204  -293  -151  -126  -123   444
   355  -158  -219   344  -304  -352   534  -175  -199  -424   352  -224
   318  -363   -56  -448  -244   -85   514  -121   152   156  -212  1052
   487  -385   113  -169   -99   177]
534
-----------------------
경영_전자상거래_매출실적여부
[2 1]
2
-----------------------
경영_부채여부
[2 1]
2
-----------------------
정부지원정책_지원경험코드
[1 3 2]
3
-----------------------
사업전환_운영계획코드
[1 3 2 4]
4
-----------------------
사업체수가중값
[  26.36046512   66.27659574   36.70588235   51.72222222  886.78846154
 1403.39583333   46.70930233   11.4017094   365.90243902  117.97826087
  175.95522388   51.66666667   73.36296296  271.28915663  108.5
  107.51578947   22.09259259   71.27419355   60.15686275   22.31746032
   24.31746032    8.15340909   61.03947368    6.0703125    19.05555556
    6.77083333   67.48598131   12.53333333    8.03225806  307.38655462
  875.43137255   13.98989899  106.9          13.84313725    2.21311475
   42.15686275   76.07352941   18.46666667   67.93617021  193.67948718
    2.69230769   82.06521739  180.44444444   41.91836735  171.17857143
    6.44736842   24.96666667    7.91304348   38.85         19.1875
   22.46341463   33.66666667  832.57894737   97.71428571  166.34782609
   44.6         197.44262295  163.51351351   16.04545455    6.94827586
    4.86486486   28.57142857   19.09210526  390.48421053   25.70833333
   10.23529412  388.61111111  100.74561404   24.24137931   14.20618557
  133.97058824   43.1875        8.14285714   85.93103448   83.34545455
   23.35416667  132.08108108  209.3          18.41176471    2.45283019
   67.33333333    3.06896552  943.51111111   23.        ]
84
-----------------------
종사자수가중값
[  23.43065693   62.40740741   35.84210526   47.75609756  711.39622642
 1010.53658537   41.23          9.23684211  256.12598425  113.8
  149.19512195   49.67241379   64.          175.38461538  110.76
   97.19444444   19.03341289   59.1686747    56.84482759   18.56538462
   18.            6.8494152    54.62361111    4.49520154   17.42679128
    3.64864865   39.10958904   11.71226415    7.10416667  265.32010582
  796.32768362   12.14349776   74.72189349   11.25295508    1.85365854
   38.39572193   51.69354839   13.26072607   68.47260274  140.04020101
    2.13738019   71.48484848  134.09195402   34.24050633  152.11428571
    5.58064516   22.44736842    6.875        30.92592593   16.80487805
   23.63414634   31.90243902  788.4137931    85.42222222  136.55172414
   42.08        130.42718447  159.7654321    12.68333333    5.43277311
    4.26751592   20.37240076   16.86102719  332.5785124    21.45454545
    9.28571429  312.48958333   68.648        14.22580645   10.87755102
  120.196        26.47552448    7.36328125   79.03448276   69.58791209
   18.98657718  126.84482759  171.67195767   15.12121212    2.25925926
   62.59139785    2.81081081  780.52631579   20.8       ]
84
-----------------------
매출금액가중값
[1.84901341e+01 6.66546875e+01 3.00500640e+01 8.02062420e+01
 5.78462397e+02 1.62962584e+03 3.59241668e+01 5.44214620e+00
 2.64939952e+02 1.29972985e+02 1.36618829e+02 3.41009241e+01
 6.50297460e+01 1.57965856e+02 7.41272462e+01 4.33498139e+01
 2.03248447e+01 5.50615789e+01 5.20832131e+01 2.09485277e+01
 2.43977435e+01 6.91633566e+00 5.24866358e+01 5.12205877e+00
 1.97744528e+01 3.96106674e+00 5.56458333e+01 1.15674921e+01
 7.03054464e+00 2.96071146e+02 8.47135337e+02 1.04759056e+01
 8.81505813e+01 1.17052235e+01 2.42148576e+00 3.42409284e+01
 7.39562916e+01 1.55844283e+01 5.67954856e+01 1.62650124e+02
 2.00156183e+00 5.88772766e+01 1.67944521e+02 3.71149169e+01
 2.17115603e+02 2.40771892e+00 2.47236709e+01 1.52916530e+00
 4.18468432e+01 1.62949022e+01 2.85533263e+01 6.07656153e+01
 8.03042569e+02 7.32936378e+01 1.80986111e+02 2.28829167e+01
 1.36702328e+02 1.23270970e+02 1.05543547e+01 5.83773004e+00
 4.88993283e+00 3.00473860e+01 1.70601473e+01 2.88055182e+02
 2.70546763e+01 1.63331587e+01 3.86811815e+02 8.53859350e+01
 1.42091521e+01 1.32980819e+01 1.48488785e+02 3.22942202e+01
 7.93260701e+00 8.22615220e+01 7.90056765e+01 2.21945005e+01
 1.15302678e+02 1.79259397e+02 1.78660342e+01 1.92583215e+00
 5.32426451e+01 3.29157532e+00 6.92993613e+02 1.35699602e+01]
84
-----------------------
행정구역시도코드
[11]
1
-----------------------
기준연도
[2021]
1
-----------------------

In [15]:
for col in df_notnull.columns:
    if df_notnull[col].nunique()==1:
        print(col)

조사차수
경영_고객결재방법_합계비율
행정구역시도코드
기준연도

# 고객결재방법 결측치 처리

In [16]:
df_notnull['경영_고객결재방법_합계비율']

0       100
1       100
2       100
3       100
4       100
       ...
5715    100
5716    100
5717    100
5718    100
5719    100
Name: 경영_고객결재방법_합계비율, Length: 5720, dtype: int64

In [17]:
# null값이 있는 컬럼 정제 전인 df로 돌아가서 확인
columns_to_replace_nan = ['경영_고객결재방법_현금비율',
'경영_고객결재방법_카드비율',
'경영_고객결재방법_간편결제비율',
'경영_고객결재방법_어음비율',
'경영_고객결재방법_기타비율',
'경영_고객결재방법_합계비율']

df[columns_to_replace_nan]

,경영_고객결재방법_현금비율,경영_고객결재방법_카드비율,경영_고객결재방법_간편결제비율,경영_고객결재방법_어음비율,경영_고객결재방법_기타비율,경영_고객결재방법_합계비율
0,60.0,40.0,NaN,NaN,NaN,100
1,100.0,NaN,NaN,NaN,NaN,100
2,100.0,NaN,NaN,NaN,NaN,100
3,100.0,NaN,NaN,NaN,NaN,100
4,100.0,NaN,NaN,NaN,NaN,100
...,...,...,...,...,...,...
5715,2.0,98.0,NaN,NaN,NaN,100
5716,20.0,80.0,NaN,NaN,NaN,100
5717,100.0,NaN,NaN,NaN,NaN,100
5718,80.0,5.0,5.0,10.0,NaN,100
5719,100.0,NaN,NaN,NaN,NaN,100

In [18]:
# 합계비율 열의 값이 다른 열들의 합과 일치하는지 확인하고, 일치하면 NaN 값을 0으로 대체 --> 이 코드 어떻게 지지고 볶아도 안먹음 이유가 뭐냐ㅠ
total_sum = df[columns_to_replace_nan[:-1]].sum(axis=1)
'''is_match = total_sum == df['경영_고객결재방법_합계비율']
df[columns_to_replace_nan] = df[columns_to_replace_nan].where(is_match, 0)'''

# 새롭게 해결해보아요 
# 각 행별 컬럼 합계를 리스트로 생성
ts = total_sum.to_list()

# counter 함수 활용해서 unique한 값과 그 개수 세기
# 모든 행의 합계가 100인지 확인 위함 -> 그냥 조건문 없이 Nan값 0으로 싹 대체해버리려고요
from collections import Counter
count = Counter(ts)

for value, frequency in count.items():
    print(f'값: {value}, 개수: {frequency}')

값: 100.0, 개수: 5720

In [19]:
# Nan값 0으로 변경하고 다시 확인
df[columns_to_replace_nan] = df[columns_to_replace_nan].fillna(0)
df[columns_to_replace_nan]

,경영_고객결재방법_현금비율,경영_고객결재방법_카드비율,경영_고객결재방법_간편결제비율,경영_고객결재방법_어음비율,경영_고객결재방법_기타비율,경영_고객결재방법_합계비율
0,60.0,40.0,0.0,0.0,0.0,100
1,100.0,0.0,0.0,0.0,0.0,100
2,100.0,0.0,0.0,0.0,0.0,100
3,100.0,0.0,0.0,0.0,0.0,100
4,100.0,0.0,0.0,0.0,0.0,100
...,...,...,...,...,...,...
5715,2.0,98.0,0.0,0.0,0.0,100
5716,20.0,80.0,0.0,0.0,0.0,100
5717,100.0,0.0,0.0,0.0,0.0,100
5718,80.0,5.0,5.0,10.0,0.0,100
5719,100.0,0.0,0.0,0.0,0.0,100

In [20]:
df

,조사차수,일반_대표자_성별코드,대표자연령대코드,일반_합계종사자수,일반_합계_남자종사자수,일반_합계_여자종사자수,일반_대표자종사자수,일반_대표자_남자종사자수,일반_대표자_여자종사자수,일반_근로계약기간_1년이상_종사자수,...,사업전환_노후준비1해당여부,사업전환_노후준비2해당여부,사업전환_노후준비3해당여부,사업전환_노후준비4해당여부,사업전환_노후준비5해당여부,사업체수가중값,종사자수가중값,매출금액가중값,행정구역시도코드,기준연도
0,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,26.360465,23.430657,18.490134,11,2021
1,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,1.0,4.0,NaN,NaN,NaN,26.360465,23.430657,18.490134,11,2021
2,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,1.0,2.0,4.0,NaN,NaN,66.276596,62.407407,66.654687,11,2021
3,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,1.0,2.0,3.0,NaN,NaN,36.705882,35.842105,30.050064,11,2021
4,5,1,20,1,1.0,NaN,1,1.0,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,51.722222,47.756098,80.206242,11,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5715,5,2,70,5,2.0,3.0,1,NaN,1.0,4.0,...,6.0,NaN,NaN,NaN,NaN,8.153409,6.849415,6.916336,11,2021
5716,5,2,70,7,2.0,5.0,1,NaN,1.0,2.0,...,2.0,NaN,NaN,NaN,NaN,2.692308,2.137380,2.001562,11,2021
5717,5,2,70,7,6.0,1.0,4,3.0,1.0,3.0,...,1.0,2.0,4.0,NaN,NaN,8.153409,6.849415,6.916336,11,2021
5718,5,2,70,8,6.0,2.0,1,NaN,1.0,7.0,...,1.0,2.0,NaN,NaN,NaN,13.843137,11.252955,11.705223,11,2021
5719,5,2,80,2,NaN,2.0,1,NaN,1.0,NaN,...,4.0,NaN,NaN,NaN,NaN,73.362963,64.000000,65.029746,11,2021

# 종사자수 결측치 처리

In [21]:
df.columns

Index(['조사차수',
       '일반_대표자_성별코드',
       '대표자연령대코드',
       '일반_합계종사자수',
       '일반_합계_남자종사자수',
       '일반_합계_여자종사자수',
       '일반_대표자종사자수',
       '일반_대표자_남자종사자수',
       '일반_대표자_여자종사자수',
       '일반_근로계약기간_1년이상_종사자수',
       '일반_근로계약기간_1년이상_남자종사자수',
       '일반_근로계약기간_1년이상_여자종사자수',
       '일반_근로계약기간_3개월이상1년미만_종사자수',
       '일반_근로계약기간_3개월이상1년미만_남자종사자수',
       '일반_근로계약기간_3개월이상1년미만_여자종사자수',
       '일반_근로계약기간_3개월미만_종사자수',
       '일반_근로계약기간_3개월미만_남자종사자수',
       '일반_근로계약기간_3개월미만_여자종사자수',
       '일반_무급가족종사자수',
       '일반_무급가족_남자종사자수',
       '일반_무급가족_여자종사자수',
       '일반_기타근로자종사자수',
       '일반_기타근로자_남자종사자수',
       '일반_기타근로자_여자종사자수',
       '일반_사업자형태코드',
       '산업중분류코드',
       '일반_프랜차이즈가맹점여부',
       '일반_창업형태코드',
       '일반_창업인수승계_연도',
       '일반_창업인수승계_월',
       '일반_사업장이전_경험여부',
       '일반_사업장이전_사유코드',
       '일반_현사업체_직전종사상지위항목코드',
       '일반_창업횟수',
       '창업_동기코드',
       '창업_준비기간_창업_준비기간_년수',
       '창업_준비기간_창업_준비기간_월수',
       '창업_준비활동중요성_사업계획서작성코드',
       '창업_준비활동중요성_시장조사코드',
       '창업_준비활동중요성_동종업종종사경험코드',
       '창업_준비활동중요성_창업교육코드',
       '창업_준비활동_사업계획서작성여부',
       '창업_준비활동_시장조사여부',
       '창업_준비활동_동종업종종사경험여부',
       '창업_준비활동_창업교육여부',
       '창업_어려움정도_입지선정코드',
       '창업_어려움정도_업종선택코드',
       '창업_어려움정도_자금조달코드',
       '창업_어려움정도_기술확보코드',
       '창업_어려움정도_인력확보코드',
       '창업_어려움정도_행정절차코드',
       '창업_어려움정도_경영방법코드',
       '창업_비용_총창업비용',
       '창업_비용_본인부담금액',
       '경영_영업기간_하루평균시간수',
       '경영_영업기간_월평균일수',
       '경영_영업기간_년간월수',
       '경영_고객결재방법_현금비율',
       '경영_고객결재방법_카드비율',
       '경영_고객결재방법_간편결제비율',
       '경영_고객결재방법_어음비율',
       '경영_고객결재방법_기타비율',
       '경영_고객결재방법_합계비율',
       '경영_점유형태코드',
       '경영_점유형태_임차형태코드',
       '경영_점유형태_보증금액',
       '경영_점유형태_월세금액',
       '경영_점유형태_일정비율지급금액',
       '경영_운영활동코드1',
       '경영_운영활동코드2',
       '경영_운영활동코드3',
       '경영_운영활동코드4',
       '경영_운영활동코드5',
       '경영_운영활동_디지털대응1코드',
       '경영_운영활동_디지털대응2코드',
       '경영_운영활동_디지털대응3코드',
       '경영_운영활동_디지털대응4코드',
       '경영_운영활동_디지털대응5코드',
       '경영_운영활동_디지털대응6코드',
       '경영_단체활동여부',
       '경영_매출금액',
       '경영_영업비용',
       '경영_영업비용_매출원가',
       '경영_영업비용_급여총액',
       '경영_영업비용_임차료',
       '경영_영업비용_기타금액',
       '경영_영업이익',
       '경영_전자상거래_매출실적여부',
       '경영_전자상거래_매출비율',
       '경영_부채여부',
       '경영_부채금액',
       '경영_애로사항1코드',
       '경영_애로사항2코드',
       '정부지원정책_지원경험코드',
       '정부지원정책_추진정책1코드',
       '정부지원정책_추진정책2코드',
       '코로나19_지원정책1코드',
       '코로나19_지원정책2코드',
       '사업전환_운영계획코드',
       '사업전환_운영계획_소유권승계계획여부',
       '사업전환_노후준비1해당여부',
       '사업전환_노후준비2해당여부',
       '사업전환_노후준비3해당여부',
       '사업전환_노후준비4해당여부',
       '사업전환_노후준비5해당여부',
       '사업체수가중값',
       '종사자수가중값',
       '매출금액가중값',
       '행정구역시도코드',
       '기준연도'],
      dtype='object')

In [22]:
columns_to_replace_nan = ['일반_합계종사자수', '일반_합계_남자종사자수', '일반_합계_여자종사자수',]

if (df['일반_합계_남자종사자수'].add(df['일반_합계_여자종사자수'], fill_value=0) == df['일반_합계종사자수']).all():
    df[columns_to_replace_nan] = df[columns_to_replace_nan].fillna(0)

In [23]:
df[columns_to_replace_nan]

,일반_합계종사자수,일반_합계_남자종사자수,일반_합계_여자종사자수
0,1,1.0,0.0
1,1,1.0,0.0
2,1,1.0,0.0
3,1,1.0,0.0
4,1,1.0,0.0
...,...,...,...
5715,5,2.0,3.0
5716,7,2.0,5.0
5717,7,6.0,1.0
5718,8,6.0,2.0
5719,2,0.0,2.0

In [24]:
pd.set_option('display.max_rows', None)
df.isnull().sum()

조사차수                             0
일반_대표자_성별코드                      0
대표자연령대코드                         0
일반_합계종사자수                        0
일반_합계_남자종사자수                     0
일반_합계_여자종사자수                     0
일반_대표자종사자수                       0
일반_대표자_남자종사자수                 1588
일반_대표자_여자종사자수                 4043
일반_근로계약기간_1년이상_종사자수           2936
일반_근로계약기간_1년이상_남자종사자수         3653
일반_근로계약기간_1년이상_여자종사자수         4075
일반_근로계약기간_3개월이상1년미만_종사자수      5087
일반_근로계약기간_3개월이상1년미만_남자종사자수    5321
일반_근로계약기간_3개월이상1년미만_여자종사자수    5382
일반_근로계약기간_3개월미만_종사자수          5224
일반_근로계약기간_3개월미만_남자종사자수        5386
일반_근로계약기간_3개월미만_여자종사자수        5449
일반_무급가족종사자수                   5089
일반_무급가족_남자종사자수                5410
일반_무급가족_여자종사자수                5364
일반_기타근로자종사자수                  5439
일반_기타근로자_남자종사자수               5524
일반_기타근로자_여자종사자수               5562
일반_사업자형태코드                       0
산업중분류코드                          0
일반_프랜차이즈가맹점여부                    0
일반_창업형태코드                        0
일반_창업인수승계_연도                     0
일반_창업인수승계_월                      0
일반_사업장이전_경험여부                    0
일반_사업장이전_사유코드                 4296
일반_현사업체_직전종사상지위항목코드              0
일반_창업횟수                          0
창업_동기코드                       3514
창업_준비기간_창업_준비기간_년수            3514
창업_준비기간_창업_준비기간_월수            3514
창업_준비활동중요성_사업계획서작성코드          3514
창업_준비활동중요성_시장조사코드             3514
창업_준비활동중요성_동종업종종사경험코드         3514
창업_준비활동중요성_창업교육코드             3514
창업_준비활동_사업계획서작성여부             3514
창업_준비활동_시장조사여부                3514
창업_준비활동_동종업종종사경험여부            3514
창업_준비활동_창업교육여부                3514
창업_어려움정도_입지선정코드               3514
창업_어려움정도_업종선택코드               3514
창업_어려움정도_자금조달코드               3514
창업_어려움정도_기술확보코드               3514
창업_어려움정도_인력확보코드               3514
창업_어려움정도_행정절차코드               3514
창업_어려움정도_경영방법코드               3514
창업_비용_총창업비용                   3514
창업_비용_본인부담금액                  3514
경영_영업기간_하루평균시간수                  0
경영_영업기간_월평균일수                    0
경영_영업기간_년간월수                     0
경영_고객결재방법_현금비율                   0
경영_고객결재방법_카드비율                   0
경영_고객결재방법_간편결제비율                 0
경영_고객결재방법_어음비율                   0
경영_고객결재방법_기타비율                   0
경영_고객결재방법_합계비율                   0
경영_점유형태코드                        0
경영_점유형태_임차형태코드                1001
경영_점유형태_보증금액                  1521
경영_점유형태_월세금액                  1402
경영_점유형태_일정비율지급금액              5700
경영_운영활동코드1                       8
경영_운영활동코드2                    4942
경영_운영활동코드3                    5494
경영_운영활동코드4                    5652
경영_운영활동코드5                    5719
경영_운영활동_디지털대응1코드              5360
경영_운영활동_디지털대응2코드              5619
경영_운영활동_디지털대응3코드              5688
경영_운영활동_디지털대응4코드              5711
경영_운영활동_디지털대응5코드              5714
경영_운영활동_디지털대응6코드              5719
경영_단체활동여부                        0
경영_매출금액                          0
경영_영업비용                          0
경영_영업비용_매출원가                    43
경영_영업비용_급여총액                    86
경영_영업비용_임차료                     14
경영_영업비용_기타금액                     8
경영_영업이익                          0
경영_전자상거래_매출실적여부                  0
경영_전자상거래_매출비율                 5012
경영_부채여부                          0
경영_부채금액                       1709
경영_애로사항1코드                       4
경영_애로사항2코드                    1427
정부지원정책_지원경험코드                    0
정부지원정책_추진정책1코드                   3
정부지원정책_추진정책2코드                1225
코로나19_지원정책1코드                    2
코로나19_지원정책2코드                 1366
사업전환_운영계획코드                      0
사업전환_운영계획_소유권승계계획여부            506
사업전환_노후준비1해당여부                   8
사업전환_노후준비2해당여부                3649
사업전환_노후준비3해당여부                5238
사업전환_노후준비4해당여부                5584
사업전환_노후준비5해당여부                5715
사업체수가중값                          0
종사자수가중값                          0
매출금액가중값                          0
행정구역시도코드                         0
기준연도                             0
dtype: int64

In [26]:
pd.set_option('display.max_rows', 10)

In [27]:
columns_to_replace_nan = ['일반_대표자종사자수', '일반_대표자_남자종사자수', '일반_대표자_여자종사자수',]

if (df['일반_대표자_남자종사자수'].add(df['일반_대표자_여자종사자수'], fill_value=0) == df['일반_대표자종사자수']).all():
    df[columns_to_replace_nan] = df[columns_to_replace_nan].fillna(0)

df[columns_to_replace_nan]

,일반_대표자종사자수,일반_대표자_남자종사자수,일반_대표자_여자종사자수
0,1,1.0,0.0
1,1,1.0,0.0
2,1,1.0,0.0
3,1,1.0,0.0
4,1,1.0,0.0
...,...,...,...
5715,1,0.0,1.0
5716,1,0.0,1.0
5717,4,3.0,1.0
5718,1,0.0,1.0
5719,1,0.0,1.0

In [29]:
pd.set_option('display.max_rows', None)
df.isnull().sum()

조사차수                             0
일반_대표자_성별코드                      0
대표자연령대코드                         0
일반_합계종사자수                        0
일반_합계_남자종사자수                     0
일반_합계_여자종사자수                     0
일반_대표자종사자수                       0
일반_대표자_남자종사자수                    0
일반_대표자_여자종사자수                    0
일반_근로계약기간_1년이상_종사자수           2936
일반_근로계약기간_1년이상_남자종사자수         3653
일반_근로계약기간_1년이상_여자종사자수         4075
일반_근로계약기간_3개월이상1년미만_종사자수      5087
일반_근로계약기간_3개월이상1년미만_남자종사자수    5321
일반_근로계약기간_3개월이상1년미만_여자종사자수    5382
일반_근로계약기간_3개월미만_종사자수          5224
일반_근로계약기간_3개월미만_남자종사자수        5386
일반_근로계약기간_3개월미만_여자종사자수        5449
일반_무급가족종사자수                   5089
일반_무급가족_남자종사자수                5410
일반_무급가족_여자종사자수                5364
일반_기타근로자종사자수                  5439
일반_기타근로자_남자종사자수               5524
일반_기타근로자_여자종사자수               5562
일반_사업자형태코드                       0
산업중분류코드                          0
일반_프랜차이즈가맹점여부                    0
일반_창업형태코드                        0
일반_창업인수승계_연도                     0
일반_창업인수승계_월                      0
일반_사업장이전_경험여부                    0
일반_사업장이전_사유코드                 4296
일반_현사업체_직전종사상지위항목코드              0
일반_창업횟수                          0
창업_동기코드                       3514
창업_준비기간_창업_준비기간_년수            3514
창업_준비기간_창업_준비기간_월수            3514
창업_준비활동중요성_사업계획서작성코드          3514
창업_준비활동중요성_시장조사코드             3514
창업_준비활동중요성_동종업종종사경험코드         3514
창업_준비활동중요성_창업교육코드             3514
창업_준비활동_사업계획서작성여부             3514
창업_준비활동_시장조사여부                3514
창업_준비활동_동종업종종사경험여부            3514
창업_준비활동_창업교육여부                3514
창업_어려움정도_입지선정코드               3514
창업_어려움정도_업종선택코드               3514
창업_어려움정도_자금조달코드               3514
창업_어려움정도_기술확보코드               3514
창업_어려움정도_인력확보코드               3514
창업_어려움정도_행정절차코드               3514
창업_어려움정도_경영방법코드               3514
창업_비용_총창업비용                   3514
창업_비용_본인부담금액                  3514
경영_영업기간_하루평균시간수                  0
경영_영업기간_월평균일수                    0
경영_영업기간_년간월수                     0
경영_고객결재방법_현금비율                   0
경영_고객결재방법_카드비율                   0
경영_고객결재방법_간편결제비율                 0
경영_고객결재방법_어음비율                   0
경영_고객결재방법_기타비율                   0
경영_고객결재방법_합계비율                   0
경영_점유형태코드                        0
경영_점유형태_임차형태코드                1001
경영_점유형태_보증금액                  1521
경영_점유형태_월세금액                  1402
경영_점유형태_일정비율지급금액              5700
경영_운영활동코드1                       8
경영_운영활동코드2                    4942
경영_운영활동코드3                    5494
경영_운영활동코드4                    5652
경영_운영활동코드5                    5719
경영_운영활동_디지털대응1코드              5360
경영_운영활동_디지털대응2코드              5619
경영_운영활동_디지털대응3코드              5688
경영_운영활동_디지털대응4코드              5711
경영_운영활동_디지털대응5코드              5714
경영_운영활동_디지털대응6코드              5719
경영_단체활동여부                        0
경영_매출금액                          0
경영_영업비용                          0
경영_영업비용_매출원가                    43
경영_영업비용_급여총액                    86
경영_영업비용_임차료                     14
경영_영업비용_기타금액                     8
경영_영업이익                          0
경영_전자상거래_매출실적여부                  0
경영_전자상거래_매출비율                 5012
경영_부채여부                          0
경영_부채금액                       1709
경영_애로사항1코드                       4
경영_애로사항2코드                    1427
정부지원정책_지원경험코드                    0
정부지원정책_추진정책1코드                   3
정부지원정책_추진정책2코드                1225
코로나19_지원정책1코드                    2
코로나19_지원정책2코드                 1366
사업전환_운영계획코드                      0
사업전환_운영계획_소유권승계계획여부            506
사업전환_노후준비1해당여부                   8
사업전환_노후준비2해당여부                3649
사업전환_노후준비3해당여부                5238
사업전환_노후준비4해당여부                5584
사업전환_노후준비5해당여부                5715
사업체수가중값                          0
종사자수가중값                          0
매출금액가중값                          0
행정구역시도코드                         0
기준연도                             0
dtype: int64

In [ ]:
'일반_근로계약기간_1년이상_종사자수', 
'일반_근로계약기간_1년이상_남자종사자수',
'일반_근로계약기간_1년이상_여자종사자수'

In [36]:
columns_to_replace_nan = ['일반_합계종사자수',
'일반_대표자종사자수',
'일반_근로계약기간_1년이상_종사자수',
'일반_근로계약기간_3개월이상1년미만_종사자수',
'일반_근로계약기간_3개월미만_종사자수',
'일반_무급가족종사자수',
'일반_기타근로자종사자수']

if (df['일반_대표자종사자수'].add(df['일반_근로계약기간_1년이상_종사자수'], fill_value=0)
    .add(df['일반_근로계약기간_3개월이상1년미만_종사자수'], fill_value=0)
    .add(df['일반_근로계약기간_3개월미만_종사자수'], fill_value=0)
    .add(df['일반_무급가족종사자수'], fill_value=0) 
    .add(df['일반_기타근로자종사자수'], fill_value=0)     
    == df['일반_합계종사자수']).all():
    df[columns_to_replace_nan] = df[columns_to_replace_nan].fillna(0)

df[columns_to_replace_nan]

,일반_합계종사자수,일반_대표자종사자수,일반_근로계약기간_1년이상_종사자수,일반_근로계약기간_3개월이상1년미만_종사자수,일반_근로계약기간_3개월미만_종사자수,일반_무급가족종사자수,일반_기타근로자종사자수
0,1,1,0.0,0.0,0.0,0.0,0.0
1,1,1,0.0,0.0,0.0,0.0,0.0
2,1,1,0.0,0.0,0.0,0.0,0.0
3,1,1,0.0,0.0,0.0,0.0,0.0
4,1,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
5715,5,1,4.0,0.0,0.0,0.0,0.0
5716,7,1,2.0,4.0,0.0,0.0,0.0
5717,7,4,3.0,0.0,0.0,0.0,0.0
5718,8,1,7.0,0.0,0.0,0.0,0.0
5719,2,1,0.0,0.0,0.0,0.0,1.0

In [37]:
df[columns_to_replace_nan].isnull().sum()

일반_합계종사자수                   0
일반_대표자종사자수                  0
일반_근로계약기간_1년이상_종사자수         0
일반_근로계약기간_3개월이상1년미만_종사자수    0
일반_근로계약기간_3개월미만_종사자수        0
일반_무급가족종사자수                 0
일반_기타근로자종사자수                0
dtype: int64

In [43]:
df.columns

Index(['조사차수',
       '일반_대표자_성별코드',
       '대표자연령대코드',
       '일반_합계종사자수',
       '일반_합계_남자종사자수',
       '일반_합계_여자종사자수',
       '일반_대표자종사자수',
       '일반_대표자_남자종사자수',
       '일반_대표자_여자종사자수',
       '일반_근로계약기간_1년이상_종사자수',
       '일반_근로계약기간_1년이상_남자종사자수',
       '일반_근로계약기간_1년이상_여자종사자수',
       '일반_근로계약기간_3개월이상1년미만_종사자수',
       '일반_근로계약기간_3개월이상1년미만_남자종사자수',
       '일반_근로계약기간_3개월이상1년미만_여자종사자수',
       '일반_근로계약기간_3개월미만_종사자수',
       '일반_근로계약기간_3개월미만_남자종사자수',
       '일반_근로계약기간_3개월미만_여자종사자수',
       '일반_무급가족종사자수',
       '일반_무급가족_남자종사자수',
       '일반_무급가족_여자종사자수',
       '일반_기타근로자종사자수',
       '일반_기타근로자_남자종사자수',
       '일반_기타근로자_여자종사자수',
       '일반_사업자형태코드',
       '산업중분류코드',
       '일반_프랜차이즈가맹점여부',
       '일반_창업형태코드',
       '일반_창업인수승계_연도',
       '일반_창업인수승계_월',
       '일반_사업장이전_경험여부',
       '일반_사업장이전_사유코드',
       '일반_현사업체_직전종사상지위항목코드',
       '일반_창업횟수',
       '창업_동기코드',
       '창업_준비기간_창업_준비기간_년수',
       '창업_준비기간_창업_준비기간_월수',
       '창업_준비활동중요성_사업계획서작성코드',
       '창업_준비활동중요성_시장조사코드',
       '창업_준비활동중요성_동종업종종사경험코드',
       '창업_준비활동중요성_창업교육코드',
       '창업_준비활동_사업계획서작성여부',
       '창업_준비활동_시장조사여부',
       '창업_준비활동_동종업종종사경험여부',
       '창업_준비활동_창업교육여부',
       '창업_어려움정도_입지선정코드',
       '창업_어려움정도_업종선택코드',
       '창업_어려움정도_자금조달코드',
       '창업_어려움정도_기술확보코드',
       '창업_어려움정도_인력확보코드',
       '창업_어려움정도_행정절차코드',
       '창업_어려움정도_경영방법코드',
       '창업_비용_총창업비용',
       '창업_비용_본인부담금액',
       '경영_영업기간_하루평균시간수',
       '경영_영업기간_월평균일수',
       '경영_영업기간_년간월수',
       '경영_고객결재방법_현금비율',
       '경영_고객결재방법_카드비율',
       '경영_고객결재방법_간편결제비율',
       '경영_고객결재방법_어음비율',
       '경영_고객결재방법_기타비율',
       '경영_고객결재방법_합계비율',
       '경영_점유형태코드',
       '경영_점유형태_임차형태코드',
       '경영_점유형태_보증금액',
       '경영_점유형태_월세금액',
       '경영_점유형태_일정비율지급금액',
       '경영_운영활동코드1',
       '경영_운영활동코드2',
       '경영_운영활동코드3',
       '경영_운영활동코드4',
       '경영_운영활동코드5',
       '경영_운영활동_디지털대응1코드',
       '경영_운영활동_디지털대응2코드',
       '경영_운영활동_디지털대응3코드',
       '경영_운영활동_디지털대응4코드',
       '경영_운영활동_디지털대응5코드',
       '경영_운영활동_디지털대응6코드',
       '경영_단체활동여부',
       '경영_매출금액',
       '경영_영업비용',
       '경영_영업비용_매출원가',
       '경영_영업비용_급여총액',
       '경영_영업비용_임차료',
       '경영_영업비용_기타금액',
       '경영_영업이익',
       '경영_전자상거래_매출실적여부',
       '경영_전자상거래_매출비율',
       '경영_부채여부',
       '경영_부채금액',
       '경영_애로사항1코드',
       '경영_애로사항2코드',
       '정부지원정책_지원경험코드',
       '정부지원정책_추진정책1코드',
       '정부지원정책_추진정책2코드',
       '코로나19_지원정책1코드',
       '코로나19_지원정책2코드',
       '사업전환_운영계획코드',
       '사업전환_운영계획_소유권승계계획여부',
       '사업전환_노후준비1해당여부',
       '사업전환_노후준비2해당여부',
       '사업전환_노후준비3해당여부',
       '사업전환_노후준비4해당여부',
       '사업전환_노후준비5해당여부',
       '사업체수가중값',
       '종사자수가중값',
       '매출금액가중값',
       '행정구역시도코드',
       '기준연도'],
      dtype='object')

In [46]:
columns_to_replace_nan = ['일반_근로계약기간_1년이상_종사자수',
       '일반_근로계약기간_1년이상_남자종사자수',
       '일반_근로계약기간_1년이상_여자종사자수',
       '일반_근로계약기간_3개월이상1년미만_종사자수',
       '일반_근로계약기간_3개월이상1년미만_남자종사자수',
       '일반_근로계약기간_3개월이상1년미만_여자종사자수',
       '일반_근로계약기간_3개월미만_종사자수',
       '일반_근로계약기간_3개월미만_남자종사자수',
       '일반_근로계약기간_3개월미만_여자종사자수',
       '일반_무급가족종사자수',
       '일반_무급가족_남자종사자수',
       '일반_무급가족_여자종사자수',
       '일반_기타근로자종사자수',
       '일반_기타근로자_남자종사자수',
       '일반_기타근로자_여자종사자수']

df[columns_to_replace_nan] = df[columns_to_replace_nan].fillna(0)

df[columns_to_replace_nan]

,일반_근로계약기간_1년이상_종사자수,일반_근로계약기간_1년이상_남자종사자수,일반_근로계약기간_1년이상_여자종사자수,일반_근로계약기간_3개월이상1년미만_종사자수,일반_근로계약기간_3개월이상1년미만_남자종사자수,일반_근로계약기간_3개월이상1년미만_여자종사자수,일반_근로계약기간_3개월미만_종사자수,일반_근로계약기간_3개월미만_남자종사자수,일반_근로계약기간_3개월미만_여자종사자수,일반_무급가족종사자수,일반_무급가족_남자종사자수,일반_무급가족_여자종사자수,일반_기타근로자종사자수,일반_기타근로자_남자종사자수,일반_기타근로자_여자종사자수
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5715,4.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5716,2.0,2.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5717,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5718,7.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5719,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

# 유무 관련 컬럼들 결측치 처리

## 사업장 이전

In [124]:
df[['일반_사업장이전_경험여부','일반_사업장이전_사유코드']]

,일반_사업장이전_경험여부,일반_사업장이전_사유코드
0,2,NaN
1,1,5.0
2,2,NaN
3,2,NaN
4,2,NaN
...,...,...
5715,1,4.0
5716,1,3.0
5717,2,NaN
5718,1,4.0
5719,2,NaN

In [125]:
df['일반_사업장이전_사유코드'].unique()

array([nan,  5.,  6.,  2.,  1.,  4.,  3.])

In [126]:
df['일반_사업장이전_사유코드'] = df['일반_사업장이전_사유코드'].fillna(0)

## 창업

In [54]:
df.columns

Index(['조사차수',
       '일반_대표자_성별코드',
       '대표자연령대코드',
       '일반_합계종사자수',
       '일반_합계_남자종사자수',
       '일반_합계_여자종사자수',
       '일반_대표자종사자수',
       '일반_대표자_남자종사자수',
       '일반_대표자_여자종사자수',
       '일반_근로계약기간_1년이상_종사자수',
       '일반_근로계약기간_1년이상_남자종사자수',
       '일반_근로계약기간_1년이상_여자종사자수',
       '일반_근로계약기간_3개월이상1년미만_종사자수',
       '일반_근로계약기간_3개월이상1년미만_남자종사자수',
       '일반_근로계약기간_3개월이상1년미만_여자종사자수',
       '일반_근로계약기간_3개월미만_종사자수',
       '일반_근로계약기간_3개월미만_남자종사자수',
       '일반_근로계약기간_3개월미만_여자종사자수',
       '일반_무급가족종사자수',
       '일반_무급가족_남자종사자수',
       '일반_무급가족_여자종사자수',
       '일반_기타근로자종사자수',
       '일반_기타근로자_남자종사자수',
       '일반_기타근로자_여자종사자수',
       '일반_사업자형태코드',
       '산업중분류코드',
       '일반_프랜차이즈가맹점여부',
       '일반_창업형태코드',
       '일반_창업인수승계_연도',
       '일반_창업인수승계_월',
       '일반_사업장이전_경험여부',
       '일반_사업장이전_사유코드',
       '일반_현사업체_직전종사상지위항목코드',
       '일반_창업횟수',
       '창업_동기코드',
       '창업_준비기간_창업_준비기간_년수',
       '창업_준비기간_창업_준비기간_월수',
       '창업_준비활동중요성_사업계획서작성코드',
       '창업_준비활동중요성_시장조사코드',
       '창업_준비활동중요성_동종업종종사경험코드',
       '창업_준비활동중요성_창업교육코드',
       '창업_준비활동_사업계획서작성여부',
       '창업_준비활동_시장조사여부',
       '창업_준비활동_동종업종종사경험여부',
       '창업_준비활동_창업교육여부',
       '창업_어려움정도_입지선정코드',
       '창업_어려움정도_업종선택코드',
       '창업_어려움정도_자금조달코드',
       '창업_어려움정도_기술확보코드',
       '창업_어려움정도_인력확보코드',
       '창업_어려움정도_행정절차코드',
       '창업_어려움정도_경영방법코드',
       '창업_비용_총창업비용',
       '창업_비용_본인부담금액',
       '경영_영업기간_하루평균시간수',
       '경영_영업기간_월평균일수',
       '경영_영업기간_년간월수',
       '경영_고객결재방법_현금비율',
       '경영_고객결재방법_카드비율',
       '경영_고객결재방법_간편결제비율',
       '경영_고객결재방법_어음비율',
       '경영_고객결재방법_기타비율',
       '경영_고객결재방법_합계비율',
       '경영_점유형태코드',
       '경영_점유형태_임차형태코드',
       '경영_점유형태_보증금액',
       '경영_점유형태_월세금액',
       '경영_점유형태_일정비율지급금액',
       '경영_운영활동코드1',
       '경영_운영활동코드2',
       '경영_운영활동코드3',
       '경영_운영활동코드4',
       '경영_운영활동코드5',
       '경영_운영활동_디지털대응1코드',
       '경영_운영활동_디지털대응2코드',
       '경영_운영활동_디지털대응3코드',
       '경영_운영활동_디지털대응4코드',
       '경영_운영활동_디지털대응5코드',
       '경영_운영활동_디지털대응6코드',
       '경영_단체활동여부',
       '경영_매출금액',
       '경영_영업비용',
       '경영_영업비용_매출원가',
       '경영_영업비용_급여총액',
       '경영_영업비용_임차료',
       '경영_영업비용_기타금액',
       '경영_영업이익',
       '경영_전자상거래_매출실적여부',
       '경영_전자상거래_매출비율',
       '경영_부채여부',
       '경영_부채금액',
       '경영_애로사항1코드',
       '경영_애로사항2코드',
       '정부지원정책_지원경험코드',
       '정부지원정책_추진정책1코드',
       '정부지원정책_추진정책2코드',
       '코로나19_지원정책1코드',
       '코로나19_지원정책2코드',
       '사업전환_운영계획코드',
       '사업전환_운영계획_소유권승계계획여부',
       '사업전환_노후준비1해당여부',
       '사업전환_노후준비2해당여부',
       '사업전환_노후준비3해당여부',
       '사업전환_노후준비4해당여부',
       '사업전환_노후준비5해당여부',
       '사업체수가중값',
       '종사자수가중값',
       '매출금액가중값',
       '행정구역시도코드',
       '기준연도'],
      dtype='object')

In [58]:
columns_to_replace_nan = ['일반_창업횟수',
       '창업_동기코드',
       '창업_준비기간_창업_준비기간_년수',
       '창업_준비기간_창업_준비기간_월수',
       '창업_준비활동중요성_사업계획서작성코드',
       '창업_준비활동중요성_시장조사코드',
       '창업_준비활동중요성_동종업종종사경험코드',
       '창업_준비활동중요성_창업교육코드',
       '창업_준비활동_사업계획서작성여부',
       '창업_준비활동_시장조사여부',
       '창업_준비활동_동종업종종사경험여부',
       '창업_준비활동_창업교육여부',
       '창업_어려움정도_입지선정코드',
       '창업_어려움정도_업종선택코드',
       '창업_어려움정도_자금조달코드',
       '창업_어려움정도_기술확보코드',
       '창업_어려움정도_인력확보코드',
       '창업_어려움정도_행정절차코드',
       '창업_어려움정도_경영방법코드',
       '창업_비용_총창업비용',
       '창업_비용_본인부담금액']

df[columns_to_replace_nan]

,일반_창업횟수,창업_동기코드,창업_준비기간_창업_준비기간_년수,창업_준비기간_창업_준비기간_월수,창업_준비활동중요성_사업계획서작성코드,창업_준비활동중요성_시장조사코드,창업_준비활동중요성_동종업종종사경험코드,창업_준비활동중요성_창업교육코드,창업_준비활동_사업계획서작성여부,창업_준비활동_시장조사여부,...,창업_준비활동_창업교육여부,창업_어려움정도_입지선정코드,창업_어려움정도_업종선택코드,창업_어려움정도_자금조달코드,창업_어려움정도_기술확보코드,창업_어려움정도_인력확보코드,창업_어려움정도_행정절차코드,창업_어려움정도_경영방법코드,창업_비용_총창업비용,창업_비용_본인부담금액
0,1,2.0,0.0,6.0,5.0,5.0,3.0,3.0,1.0,1.0,...,2.0,4.0,4.0,4.0,3.0,2.0,3.0,3.0,50.0,50.0
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2.0,0.0,6.0,2.0,3.0,5.0,2.0,2.0,2.0,...,2.0,3.0,2.0,3.0,3.0,2.0,2.0,2.0,200.0,100.0
3,1,2.0,1.0,0.0,4.0,4.0,4.0,4.0,2.0,1.0,...,2.0,1.0,3.0,3.0,3.0,1.0,1.0,3.0,25.0,25.0
4,1,2.0,1.0,0.0,4.0,5.0,3.0,3.0,1.0,1.0,...,2.0,3.0,3.0,4.0,3.0,2.0,2.0,3.0,30.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5715,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5716,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5717,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5718,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5719,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df['일반_창업횟수'].value_counts()

1    3849
2    1606
3     191
4      46
5      27
6       1
Name: 일반_창업횟수, dtype: int64

In [68]:
# 그룹화된 데이터프레임 생성
grouped_means = df.groupby('일반_창업횟수')[columns_to_replace_nan].mean()

# 그룹화된 데이터프레임과 원본 데이터프레임 병합
df = df.merge(grouped_means, left_on='일반_창업횟수', right_index=True, suffixes=('', '_mean'))

# NaN 값을 평균 값으로 대체
for col in columns_to_replace_nan:
    df[col].fillna(df[col + '_mean'], inplace=True)

# 중복 열 삭제
df.drop(columns=[col + '_mean' for col in columns_to_replace_nan], inplace=True)

In [69]:
df[columns_to_replace_nan]

,일반_창업횟수,창업_동기코드,창업_준비기간_창업_준비기간_년수,창업_준비기간_창업_준비기간_월수,창업_준비활동중요성_사업계획서작성코드,창업_준비활동중요성_시장조사코드,창업_준비활동중요성_동종업종종사경험코드,창업_준비활동중요성_창업교육코드,창업_준비활동_사업계획서작성여부,창업_준비활동_시장조사여부,...,창업_준비활동_창업교육여부,창업_어려움정도_입지선정코드,창업_어려움정도_업종선택코드,창업_어려움정도_자금조달코드,창업_어려움정도_기술확보코드,창업_어려움정도_인력확보코드,창업_어려움정도_행정절차코드,창업_어려움정도_경영방법코드,창업_비용_총창업비용,창업_비용_본인부담금액
0,1,2.000000,0.000000,6.000000,5.00000,5.000000,3.000000,3.000000,1.000000,1.000000,...,2.000000,4.000000,4.000000,4.000000,3.000000,2.000000,3.000000,3.000000,50.000000,50.000000
1,1,2.192006,0.772305,2.834404,3.45182,3.857245,4.003569,2.977159,1.478944,1.327623,...,1.740186,2.780871,2.592434,3.486081,2.971449,2.952891,2.678801,2.960029,80.859386,66.394718
2,1,2.000000,0.000000,6.000000,2.00000,3.000000,5.000000,2.000000,2.000000,2.000000,...,2.000000,3.000000,2.000000,3.000000,3.000000,2.000000,2.000000,2.000000,200.000000,100.000000
3,1,2.000000,1.000000,0.000000,4.00000,4.000000,4.000000,4.000000,2.000000,1.000000,...,2.000000,1.000000,3.000000,3.000000,3.000000,1.000000,1.000000,3.000000,25.000000,25.000000
4,1,2.000000,1.000000,0.000000,4.00000,5.000000,3.000000,3.000000,1.000000,1.000000,...,2.000000,3.000000,3.000000,4.000000,3.000000,2.000000,2.000000,3.000000,30.000000,30.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5336,4,2.520000,0.960000,3.440000,3.72000,4.240000,3.640000,3.000000,1.520000,1.360000,...,1.760000,2.840000,2.960000,3.600000,2.800000,3.200000,2.920000,2.880000,106.800000,81.000000
5405,4,2.520000,0.960000,3.440000,3.72000,4.240000,3.640000,3.000000,1.520000,1.360000,...,1.760000,2.840000,2.960000,3.600000,2.800000,3.200000,2.920000,2.880000,106.800000,81.000000
5617,4,2.520000,0.960000,3.440000,3.72000,4.240000,3.640000,3.000000,1.520000,1.360000,...,1.760000,2.840000,2.960000,3.600000,2.800000,3.200000,2.920000,2.880000,106.800000,81.000000
5713,4,3.000000,0.000000,6.000000,1.00000,5.000000,1.000000,1.000000,2.000000,1.000000,...,2.000000,3.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,50.000000,50.000000
914,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df[df['일반_창업횟수']==6]

,조사차수,일반_대표자_성별코드,대표자연령대코드,일반_합계종사자수,일반_합계_남자종사자수,일반_합계_여자종사자수,일반_대표자종사자수,일반_대표자_남자종사자수,일반_대표자_여자종사자수,일반_근로계약기간_1년이상_종사자수,...,사업전환_노후준비1해당여부,사업전환_노후준비2해당여부,사업전환_노후준비3해당여부,사업전환_노후준비4해당여부,사업전환_노후준비5해당여부,사업체수가중값,종사자수가중값,매출금액가중값,행정구역시도코드,기준연도
914,5,1,40,1,1.0,0.0,1,1.0,0.0,0.0,...,1.0,NaN,NaN,NaN,NaN,11.401709,9.236842,5.442146,11,2021

In [70]:
df[columns_to_replace_nan].isnull().sum()

일반_창업횟수                 0
창업_동기코드                 1
창업_준비기간_창업_준비기간_년수      1
창업_준비기간_창업_준비기간_월수      1
창업_준비활동중요성_사업계획서작성코드    1
                       ..
창업_어려움정도_인력확보코드         1
창업_어려움정도_행정절차코드         1
창업_어려움정도_경영방법코드         1
창업_비용_총창업비용             1
창업_비용_본인부담금액            1
Length: 21, dtype: int64

# 경영 관련 컬럼

## 점유형태
- 이거 코드별로 환산월세 계산해서 FE 필요!

In [113]:
columns_to_replace_nan = ['경영_점유형태코드',
       '경영_점유형태_임차형태코드',
       '경영_점유형태_보증금액',
       '경영_점유형태_월세금액',
       '경영_점유형태_일정비율지급금액']

df[columns_to_replace_nan]

,경영_점유형태코드,경영_점유형태_임차형태코드,경영_점유형태_보증금액,경영_점유형태_월세금액,경영_점유형태_일정비율지급금액
0,2,1.0,1000.0,79.0,NaN
1,2,1.0,1000.0,70.0,NaN
2,2,1.0,3000.0,120.0,NaN
3,2,5.0,NaN,NaN,NaN
4,2,5.0,NaN,NaN,NaN
...,...,...,...,...,...
5715,2,1.0,3500.0,380.0,NaN
5716,2,1.0,2000.0,150.0,NaN
5717,2,1.0,5000.0,350.0,NaN
5718,2,1.0,5000.0,270.0,NaN
5719,2,2.0,NaN,30.0,NaN

In [114]:
df['경영_점유형태코드'].value_counts()

2    4719
1    1001
Name: 경영_점유형태코드, dtype: int64

In [115]:
df[columns_to_replace_nan].isnull().sum()

경영_점유형태코드              0
경영_점유형태_임차형태코드      1001
경영_점유형태_보증금액        1521
경영_점유형태_월세금액        1402
경영_점유형태_일정비율지급금액    5700
dtype: int64

In [116]:
df['경영_점유형태_임차형태코드'].value_counts()

1.0    3967
2.0     327
5.0     261
3.0     124
6.0      20
4.0      20
Name: 경영_점유형태_임차형태코드, dtype: int64

In [117]:
df[columns_to_replace_nan][df[columns_to_replace_nan]['경영_점유형태_임차형태코드']==2]

,경영_점유형태코드,경영_점유형태_임차형태코드,경영_점유형태_보증금액,경영_점유형태_월세금액,경영_점유형태_일정비율지급금액
7,2,2.0,NaN,5.0,NaN
16,2,2.0,0.0,20.0,NaN
19,2,2.0,0.0,11.0,NaN
39,2,2.0,NaN,195.0,NaN
63,2,2.0,NaN,200.0,NaN
...,...,...,...,...,...
5652,2,2.0,NaN,5.0,NaN
5666,2,2.0,0.0,150.0,NaN
5688,2,2.0,NaN,30.0,NaN
5702,2,2.0,0.0,10.0,NaN
5719,2,2.0,NaN,30.0,NaN

In [118]:
df[columns_to_replace_nan][df[columns_to_replace_nan]['경영_점유형태_임차형태코드']==2]['경영_점유형태_보증금액'].value_counts()

0.0    108
Name: 경영_점유형태_보증금액, dtype: int64

In [119]:
df[columns_to_replace_nan][df[columns_to_replace_nan]['경영_점유형태_임차형태코드']==5]

,경영_점유형태코드,경영_점유형태_임차형태코드,경영_점유형태_보증금액,경영_점유형태_월세금액,경영_점유형태_일정비율지급금액
3,2,5.0,NaN,NaN,NaN
4,2,5.0,NaN,NaN,NaN
8,2,5.0,NaN,NaN,NaN
15,2,5.0,NaN,NaN,NaN
18,2,5.0,NaN,NaN,NaN
...,...,...,...,...,...
5555,2,5.0,NaN,NaN,NaN
5605,2,5.0,NaN,NaN,NaN
5628,2,5.0,NaN,NaN,NaN
5676,2,5.0,NaN,NaN,NaN
5692,2,5.0,NaN,NaN,NaN

In [120]:
df[columns_to_replace_nan][df[columns_to_replace_nan]['경영_점유형태_임차형태코드']==5]['경영_점유형태_보증금액'].value_counts()

Series([], Name: 경영_점유형태_보증금액, dtype: int64)

In [121]:
df['경영_점유형태_일정비율지급금액'].value_counts()

10.0    4
30.0    3
5.0     2
15.0    2
14.0    2
       ..
2.0     1
18.0    1
3.0     1
26.0    1
17.0    1
Name: 경영_점유형태_일정비율지급금액, Length: 12, dtype: int64

In [122]:
df[columns_to_replace_nan]=df[columns_to_replace_nan].fillna(0)

## 운영활동코드
- 얘는 Nan값이 일관적인 경향이 X
- 데이터 설명 액셀 파일 보니까 여러 문항에서 답안 구성이 똑같던데 설문지를 봐야알듯 ㅠㅠ
- 코드명으로는 Nan값 처리 불가

In [135]:
columns_to_replace_nan = ['경영_운영활동코드1',
       '경영_운영활동코드2',
       '경영_운영활동코드3',
       '경영_운영활동코드4',
       '경영_운영활동코드5',
       '경영_운영활동_디지털대응1코드',
       '경영_운영활동_디지털대응2코드',
       '경영_운영활동_디지털대응3코드',
       '경영_운영활동_디지털대응4코드',
       '경영_운영활동_디지털대응5코드',
       '경영_운영활동_디지털대응6코드']

df[columns_to_replace_nan]

,경영_운영활동코드1,경영_운영활동코드2,경영_운영활동코드3,경영_운영활동코드4,경영_운영활동코드5,경영_운영활동_디지털대응1코드,경영_운영활동_디지털대응2코드,경영_운영활동_디지털대응3코드,경영_운영활동_디지털대응4코드,경영_운영활동_디지털대응5코드,경영_운영활동_디지털대응6코드
0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5715,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5716,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5717,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5718,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5719,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
for col in df[columns_to_replace_nan].columns:
    print(col)
    print(df[columns_to_replace_nan][col].isnull().sum())
    print(df[columns_to_replace_nan][col].value_counts())
    print('-----------------------------------')

경영_운영활동코드1
8
6.0    3748
2.0     878
1.0     846
3.0     164
4.0      72
5.0       4
Name: 경영_운영활동코드1, dtype: int64
-----------------------------------
경영_운영활동코드2
4942
2.0    371
3.0    220
4.0    151
1.0     24
5.0     10
6.0      2
Name: 경영_운영활동코드2, dtype: int64
-----------------------------------
경영_운영활동코드3
5494
3.0    127
4.0     77
1.0     10
2.0      7
5.0      5
Name: 경영_운영활동코드3, dtype: int64
-----------------------------------
경영_운영활동코드4
5652
4.0    62
5.0     2
3.0     2
1.0     1
2.0     1
Name: 경영_운영활동코드4, dtype: int64
-----------------------------------
경영_운영활동코드5
5719
2.0    1
Name: 경영_운영활동코드5, dtype: int64
-----------------------------------
경영_운영활동_디지털대응1코드
5360
5.0    116
1.0     87
4.0     64
2.0     41
3.0     35
6.0     17
Name: 경영_운영활동_디지털대응1코드, dtype: int64
-----------------------------------
경영_운영활동_디지털대응2코드
5619
5.0    42
4.0    26
2.0    20
3.0     8
6.0     4
1.0     1
Name: 경영_운영활동_디지털대응2코드, dtype: int64
-----------------------------------
경영_운영활동_디지털대응3코드
5688
5.0    19
4.0     7
3.0     4
2.0     2
Name: 경영_운영활동_디지털대응3코드, dtype: int64
-----------------------------------
경영_운영활동_디지털대응4코드
5711
4.0    4
5.0    3
1.0    1
3.0    1
Name: 경영_운영활동_디지털대응4코드, dtype: int64
-----------------------------------
경영_운영활동_디지털대응5코드
5714
5.0    3
2.0    1
6.0    1
4.0    1
Name: 경영_운영활동_디지털대응5코드, dtype: int64
-----------------------------------
경영_운영활동_디지털대응6코드
5719
1.0    1
Name: 경영_운영활동_디지털대응6코드, dtype: int64
-----------------------------------

# 데이터 중간정리

In [132]:
# isnull data csv화
df_isnull_df = df.isnull().sum().to_frame()
df_isnull_df.columns = ['count']
df_isnull_df.to_csv('isnull_df.csv')

In [133]:
# data 중간저장
df.to_csv('../data/SURVEY_modified.csv',index=False)
df

,조사차수,일반_대표자_성별코드,대표자연령대코드,일반_합계종사자수,일반_합계_남자종사자수,일반_합계_여자종사자수,일반_대표자종사자수,일반_대표자_남자종사자수,일반_대표자_여자종사자수,일반_근로계약기간_1년이상_종사자수,...,사업전환_노후준비1해당여부,사업전환_노후준비2해당여부,사업전환_노후준비3해당여부,사업전환_노후준비4해당여부,사업전환_노후준비5해당여부,사업체수가중값,종사자수가중값,매출금액가중값,행정구역시도코드,기준연도
0,5,1,20,1,1.0,0.0,1,1.0,0.0,0.0,...,1.0,NaN,NaN,NaN,NaN,26.360465,23.430657,18.490134,11,2021
1,5,1,20,1,1.0,0.0,1,1.0,0.0,0.0,...,1.0,4.0,NaN,NaN,NaN,26.360465,23.430657,18.490134,11,2021
2,5,1,20,1,1.0,0.0,1,1.0,0.0,0.0,...,1.0,2.0,4.0,NaN,NaN,66.276596,62.407407,66.654687,11,2021
3,5,1,20,1,1.0,0.0,1,1.0,0.0,0.0,...,1.0,2.0,3.0,NaN,NaN,36.705882,35.842105,30.050064,11,2021
4,5,1,20,1,1.0,0.0,1,1.0,0.0,0.0,...,4.0,NaN,NaN,NaN,NaN,51.722222,47.756098,80.206242,11,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5715,5,2,50,6,2.0,4.0,1,0.0,1.0,2.0,...,6.0,NaN,NaN,NaN,NaN,8.153409,6.849415,6.916336,11,2021
5716,5,2,60,1,0.0,1.0,1,0.0,1.0,0.0,...,6.0,NaN,NaN,NaN,NaN,365.902439,256.125984,264.939952,11,2021
5717,5,2,60,4,3.0,1.0,2,1.0,1.0,0.0,...,1.0,4.0,NaN,NaN,NaN,132.081081,126.844828,115.302678,11,2021
5718,5,2,70,4,1.0,3.0,1,0.0,1.0,1.0,...,1.0,4.0,NaN,NaN,NaN,875.431373,796.327684,847.135337,11,2021
5719,5,1,40,1,1.0,0.0,1,1.0,0.0,0.0,...,1.0,NaN,NaN,NaN,NaN,11.401709,9.236842,5.442146,11,2021